<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="StateMachineEntitiesConnectionString" connectionString="metadata=.\SMCGDataModel.csdl|.\SMCGDataModel.ssdl|.\SMCGDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=zeus;Initial Catalog=SMCGDb;Integrated Security=False;Persist Security Info=True;User ID=jg;Password=Q1w2e3r4&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>